.menu-list {
    width: 224px;
    display: flex;
    margin-top: 4px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 11px 16px;
    border-radius: 0;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// Header menu css
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    font-size: 1.6rem;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
