.menu-list {
    width: 224px;
    display: flex;
    margin-top: 4px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 11px 16px;
    border-radius: 0;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.menu-popper {
    padding-bottom: 8px;
}
